# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [182]:
# Import here.
import pandas as pd 
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [183]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

df_food

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,diet_current,diet_current_coded,drink,eating_changes,eating_changes_coded,eating_changes_coded1,eating_out,employment,ethnic_food,exercise,father_education,father_profession,fav_cuisine,fav_cuisine_coded,fav_food,...,healthy_feeling,healthy_meal,ideal_diet,ideal_diet_coded,income,indian_food,italian_food,life_rewarding,marital_status,meals_dinner_friend,mother_education,mother_profession,nutritional_check,on_off_campus,parents_cook,pay_meal_out,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,2.0,9,NaN,eat good and exercise,1,1.0,eat faster,1,1,3,3.0,1,1.0,5.0,profesor,Arabic cuisine,3,1.0,...,2,looks not oily,being healthy,8,5.0,5,5,1.0,1.0,"rice, chicken, soup",1.0,unemployed,5,1.0,1,2,5.0,3.0,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,3.0,1,1.0,I eat about three times a day with some snacks...,2,2.0,I eat out more than usual.,1,2,2,2.0,4,1.0,2.0,Self employed,Italian,1,1.0,...,5,"Grains, Veggies, (more of grains and veggies),...",Try to eat 5-6 small meals a day. While trying...,3,4.0,4,4,1.0,2.0,"Pasta, steak, chicken",4.0,Nurse RN,4,1.0,1,4,4.0,3.0,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,1.0,1,3.0,"toast and fruit for breakfast, salad for lunch...",3,1.0,sometimes choosing to eat fast food instead of...,1,3,2,3.0,5,2.0,2.0,owns business,italian,1,3.0,...,6,usually includes natural ingredients; nonproce...,i would say my ideal diet is my current diet,6,6.0,5,5,7.0,2.0,"chicken and rice with veggies, pasta, some kin...",2.0,owns business,4,2.0,1,3,5.0,6.0,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,2.0,2,2.0,"College diet, cheap and easy foods most nights...",2,2.0,Accepting cheap and premade/store bought foods,1,3,2,3.0,5,3.0,2.0,Mechanic,Turkish,3,1.0,...,7,"Fresh fruits& vegetables, organic meats","Healthy, fresh veggies/fruits & organic foods",2,6.0,5,5,2.0,2.0,Grilled chicken \rStuffed Shells\rHomemade Chili,4.0,Special Education Teacher,2,1.0,1,2,5.0,5.0,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,1.0,1,2.0,I try to eat healthy but often struggle becaus...,2,2.0,I have eaten generally the same foods but I do...,3,4,2,2.0,4,1.0,4.0,IT,Italian,1,3.0,...,6,"A lean protein such as grilled chicken, green ...",Ideally I would like to be able to eat healthi...,2,6.0,2,5,1.0,1.0,"Chicken Parmesan, Pulled Pork, Spaghetti and m...",5.0,Substance Abuse Conselor,3,1.0,1,4,2.0,4.0,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,3.0,2,1.0,"My diet consists mainly of coffee, water, frui...",2,2.0,I have noticed there is less time for a prepar...,1,3,2,1.0,4,2.0,4.0,Accountant,Italian,1,1.0,...,5,mainly protein and vegetables with a complex c...,My ideal diet would consist of a majority of w...,6,4.0,3,5,7.0,1.0,"pasta, fish, steak",3.0,Radiological Technician,5,3.0,1,4,3.0,4.0,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,3.0,3,NaN,A college student with an imbalanced diet tryi...,2,1.0,Eating Pizza as an excuse when there is nothin...,1,3,4,3.0,3,2.0,5.0,Doctor,Mexican Food,2,1.0,...,5,"A healthy meal is a variety of food , organic ...",Eating home cooked meals everyday and being ab...,5,2.0,5,5,7.0,1.0,Fried Rice \rBaked potatoes \rCurry Chicken,2.0,Public Health Advisor,3,1.0,3,4,1.0,4.0,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,3.0,3,NaN,"Rice, oatmeal, and tea",2,1.0,less rice,1,3,3,3.0,5,2.0,5.0,CEO of company,Korean,4,1.0,...,6,lots of vegetables,lots of veggies,2,2.0,5,3,10.0,1.0,"meat, rice, kimchi",1.0,Real Estate manageer,3,1.0,2,4,5.0,4.0,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,3.0,7,1.0,I try to eat as healthy as possible everyday. ...,1,2.0,I don't eat as much on a daily basis since com...,1,8,5,2.0,2,1.0,3.0,Store manager at Giant Eagle,Italian,1,3.0,...,1,"A protein, a fruit, a starch, and a salad or s...",My ideal diet is the diet i am currently on. ...,6,4.0,1,5,1.0,1.0,"Pizza, Spaghetti, Baked Ziti",2.0,Receptionist for a medical supply company,4,1.0,2,3,1.0,2.0,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,NaN,5,3.0,high in protein and low in carbohydrates.,1,1.0,I have learned to eat more vegetables.,2,5,1,2.0,3,2.0,4.0,Journalist,HISPANIC CUISINE.,2,1.0,...,3,"a cup of rice, vegetables, and meat.","Being able to balance between sweets, vegetabl...",3,5.0,2,3,5.0,2.0,"Vegetables, Meat, and rice.",3.0,House-wife,5,1.0,3,3,2.0,3.0,1.0,2.0,2,725.0,345,NaN,4,2,575,135

### Explore the Data

How much data did you just load?

In [185]:
# Count by hand. (lol kidding)

df_food.count()

GPA                 123
Gender              125
breakfast           125
calories_chicken    125
calories_day        106
                   ...
type_sports          99
veggies_day         125
vitamins            125
waffle_calories     125
weight              123
Length: 61, dtype: int64

What are the columns and their types in this data set?

In [186]:
# Show the column names and their types.
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [187]:
# Remove ‘em.
df_food_new=df_food.drop(columns=[ 'type_sports','mother_education', 'mother_profession','father_education','father_profession','cuisine','comfort_food_reasons_coded','GPA'])

What about `NaN`s? How many are there?

In [189]:
# Count ‘em.

df_food_new.isna().sum()

Gender                           0
breakfast                        0
calories_chicken                 0
calories_day                    19
calories_scone                   1
coffee                           0
comfort_food                     1
comfort_food_reasons             2
cook                             3
comfort_food_reasons_coded.1     0
diet_current                     1
diet_current_coded               0
drink                            2
eating_changes                   3
eating_changes_coded             0
eating_changes_coded1            0
eating_out                       0
employment                       9
ethnic_food                      0
exercise                        13
fav_cuisine                      2
fav_cuisine_coded                0
fav_food                         2
food_childhood                   1
fries                            0
fruit_day                        0
grade_level                      0
greek_food                       0
healthy_feeling                  0
healthy_meal                     1
ideal_diet                       1
ideal_diet_coded                 0
income                           1
indian_food                      0
italian_food                     0
life_rewarding                   1
marital_status                   1
meals_dinner_friend              3
nutritional_check                0
on_off_campus                    1
parents_cook                     0
pay_meal_out                     0
persian_food                     1
self_perception_weight           1
soup                             1
sports                           2
thai_food                        0
tortilla_calories                1
turkey_calories                  0
veggies_day                      0
vitamins                         0
waffle_calories                  0
weight                           2
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [190]:
# Drop ‘em.


df_food_new=df_food_new.dropna()
df_food_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 1 to 123
Data columns (total 53 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Gender                        82 non-null     int64
 1   breakfast                     82 non-null     int64
 2   calories_chicken              82 non-null     int64
 3   calories_day                  82 non-null     float64
 4   calories_scone                82 non-null     float64
 5   coffee                        82 non-null     int64
 6   comfort_food                  82 non-null     object
 7   comfort_food_reasons          82 non-null     object
 8   cook                          82 non-null     float64
 9   comfort_food_reasons_coded.1  82 non-null     int64
 10  diet_current                  82 non-null     object
 11  diet_current_coded            82 non-null     int64
 12  drink                         82 non-null     float64
 13  eating_changes                82 non-null     object
 14  eating_changes_coded          82 non-null     int64
 15  eating_changes_coded1         82 non-null     int64
 16  eating_out                    82 non-null     int64
 17  employment                    82 non-null     float64
 18  ethnic_food                   82 non-null     int64
 19  exercise                      82 non-null     float64
 20  fav_cuisine                   82 non-null     object
 21  fav_cuisine_coded             82 non-null     int64
 22  fav_food                      82 non-null     float64
 23  food_childhood                82 non-null     object
 24  fries                         82 non-null     int64
 25  fruit_day                     82 non-null     int64
 26  grade_level                   82 non-null     int64
 27  greek_food                    82 non-null     int64
 28  healthy_feeling               82 non-null     int64
 29  healthy_meal                  82 non-null     object
 30  ideal_diet                    82 non-null     object
 31  ideal_diet_coded              82 non-null     int64
 32  income                        82 non-null     float64
 33  indian_food                   82 non-null     int64
 34  italian_food                  82 non-null     int64
 35  life_rewarding                82 non-null     float64
 36  marital_status                82 non-null     float64
 37  meals_dinner_friend           82 non-null     object
 38  nutritional_check             82 non-null     int64
 39  on_off_campus                 82 non-null     float64
 40  parents_cook                  82 non-null     int64
 41  pay_meal_out                  82 non-null     int64
 42  persian_food                  82 non-null     float64
 43  self_perception_weight        82 non-null     float64
 44  soup                          82 non-null     float64
 45  sports                        82 non-null     float64
 46  thai_food                     82 non-null     int64
 47  tortilla_calories             82 non-null     float64
 48  turkey_calories               82 non-null     int64
 49  veggies_day                   82 non-null     int64
 50  vitamins                      82 non-null     int64
 51  waffle_calories               82 non-null     int64
 52  weight                        82 non-null     object
dtypes: float64(16), int64(27), object(10)
memory usage: 34.6+ KB

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [191]:
# Fix that.

#1
numeric_columns = df_food_new.select_dtypes(include=['int64', 'float64']).columns
non_numeric_counts = df_food_new[numeric_columns].apply(lambda col: pd.to_numeric(col, errors='coerce').isna().sum())
print(non_numeric_counts[non_numeric_counts > 0])

Series([], dtype: int64)


# Using this we can find out which column has string value instead of int and float.
# We can make all column to be int or float or string. column can't be mixed

In [195]:
#  Then we can chnage our String values to numberic or avg from others. 
problematic_columns = ['calories_day', 'calories_scone', 'cook', 'drink', 'employment', 
                       'exercise', 'fav_food', 'income', 'life_rewarding', 'marital_status', 
                       'on_off_campus', 'persian_food', 'self_perception_weight', 'soup', 
                       'sports', 'tortilla_calories']


for column in problematic_columns:
    
    non_numeric_rows = df_food_new[pd.to_numeric(df_food_new[column], errors='coerce').isna()]
    
    
    if not non_numeric_rows.empty:
        print(f"Column '{column}' has the following non-numeric values:")
        print(non_numeric_rows[[column]]) 
        print("\n")

In [196]:

problematic_columns = ['calories_day', 'calories_scone', 'cook', 'drink', 'employment', 
                       'exercise', 'fav_food', 'income', 'life_rewarding', 'marital_status', 
                       'on_off_campus', 'persian_food', 'self_perception_weight', 'soup', 
                       'sports', 'tortilla_calories']

for column in problematic_columns:

    non_numeric_rows = df_food_new[pd.to_numeric(df_food_new[column], errors='coerce').isna()]
    
    if not non_numeric_rows.empty:
        print(f"Column '{column}' has the following non-numeric values:")
        print(non_numeric_rows[[column]])  
        print("\n")

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [197]:
# Savey save!

df_food_new.to_csv('cleaned_data.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [198]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

df_salary=pd.read_csv('data/Ask_A_Manager_Salary_Survey 2021_(Responses)_Form_Responses_1.tsv', sep='\t')

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [199]:
# Count by hand. I’m dead serious.

df_salary.count().sum()

# 418394 rows

418394

What are the columns and their types?

In [200]:
# Show the column names and their types.

df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28062 entries, 0 to 28061
Data columns (total 18 columns):
 #   Column                                                                                                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                --------------  -----
 0   Timestamp                                                                                                                                                                                                                             28062 non-null  object
 1   How old are you?                                                                                                                                                                                                                      28062 non-null  object
 2   What industry do you work in?                                                                                                                                                                                                         27988 non-null  object
 3   Job title                                                                                                                                                                                                                             28061 non-null  object
 4   If your job title needs additional context, please clarify here:                                                                                                                                                                      7262 non-null   object
 5   What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)  28062 non-null  object
 6   How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                        20766 non-null  float64
 7   Please indicate the currency                                                                                                                                                                                                          28062 non-null  object
 8   If "Other," please indicate the currency here:                                                                                                                                                                                        206 non-null    object
 9   If your income needs additional context, please provide it here:                                                                                                                                                                      3042 non-null   object
 10  What country do you work in?                                                                                                                                                                                                          28062 non-null  object
 11  If you're in the U.S., what state do you work in?                                                                                                                                                                                     23039 non-null  object
 12  What city do you work in?                                                                                                                                                                                                             27980 non-null  object
 13  How many years of professional work experience do you have overall?                                                                                                                                                                   28062 non-null  object
 14  How many years of professional work experience do you have in your field?                                                                                                                                                             28062 non-null  object
 15  What is your highest level of education completed?                                                                                                                                                                                    27840 non-null  object
 16  What is your gender?                                                                                                                                                                                                                  27891 non-null  object
 17  What is your race? (Choose all that apply.)                                                                                                                                                                                           27885 non-null  object
dtypes: float64(1), object(17)
memory usage: 3.9+ MB

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [201]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed, gender, race

df_salary.columns = [
    'timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 
    'additional_compensation', 'currency', 'other_currency', 'salary_context', 
    'country', 'state', 'city', 'total_yoe', 'field_yoe', 
    'highest_education_completed', 'gender', 'race'
]
df_salary.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [202]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [203]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

df_salary_tech = df_salary[df_salary['industry'] == 'Computing or Tech'].reset_index(drop=True)

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [204]:
# Sanity Check 

df_salary_tech.head()

df_salary_tech['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [226]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech_usd=df_salary_tech[df_salary_tech['currency']=='USD'].reset_index(drop=True)
df_salary_tech_usd.head()

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
1,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
2,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
3,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
4,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [224]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
condition1=df_salary_tech_usd['country'].value_counts().sort_values(ascending=False)
print(condition1)

country
us                           3561
united states                  68
usa                            58
united states of america        7
u.s.a.                          7
israel                          5
canada                          4
u.s                             2
u.s.                            2
unite states                    2
united state of america         2
brazil                          2
united kingdom                  2
india                           2
australia                       2
singapore                       2
denmark                         2
u.s.a                           2
unitedstates                    2
new zealand                     2
france                          2
spain                           2
poland                          2
mexico                          1
danmark                         1
united stated                   1
cuba                            1
remote (philippines)            1
united state                    1
uruguay                         1
 us                             1
united stateds                  1
puerto rico                     1
canada                          1
isa                             1
pakistan                        1
america                         1
uniyed states                   1
netherlands                     1
italy                           1
jamaica                         1
international                   1
thailand                        1
unites states                   1
romania                         1
japan                           1
us                              1
united stares                   1
australian                      1
china                           1
san francisco                   1
u.s.a                           1
colombia                        1
ghana                           1
nigeria                         1
ss                              1
nigeria                         1
burma                           1
Name: count, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [231]:
# Replace them all with 'US'.
us_name = [name.lower() for name in ['United States', 'USA', 'US', 'U.S.', 'United States of America','U.S.A.']]
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].str.lower()
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].str.strip()
df_salary_tech_usd['country']=df_salary_tech_usd['country'].replace(us_name,'US')

Have a look at the count of each unique country again now.

In [232]:
# Count again.
condition1=df_salary_tech_usd['country'].value_counts().sort_values(ascending=False)
print(condition1)

country
US                         3705
israel                        5
canada                        5
u.s.a                         3
brazil                        2
australia                     2
unite states                  2
united kingdom                2
u.s                           2
singapore                     2
spain                         2
unitedstates                  2
united state of america       2
poland                        2
france                        2
denmark                       2
nigeria                       2
new zealand                   2
india                         2
cuba                          1
netherlands                   1
united state                  1
pakistan                      1
isa                           1
united stateds                1
uruguay                       1
mexico                        1
danmark                       1
italy                         1
international                 1
remote (philippines)          1
china                         1
san francisco                 1
united stated                 1
jamaica                       1
ss                            1
uniyed states                 1
ghana                         1
colombia                      1
thailand                      1
unites states                 1
romania                       1
australian                    1
united stares                 1
puerto rico                   1
japan                         1
america                       1
burma                         1
Name: count, dtype: int64

Did you notice anything interesting?

In [237]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

df_salary_tech_usd['country'] = df_salary_tech_usd['country'].str.lower()
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].str.strip() 
us_name = [name.lower() for name in ['United States', 'USA', 'US', 'U.S.', 'United States of America','u.s.a', 'u.s.a.']]
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].replace(us_name, 'US')
df_salary_tech_usd['country'] = df_salary_tech_usd['country']

In [238]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.

condition1=df_salary_tech_usd['country'].value_counts().sort_values(ascending=False)
print(condition1)

#whatever is not counting as US, are misspelling.

country
US                         3708
israel                        5
canada                        5
singapore                     2
france                        2
nigeria                       2
australia                     2
denmark                       2
india                         2
u.s                           2
unite states                  2
spain                         2
united state of america       2
united kingdom                2
new zealand                   2
poland                        2
brazil                        2
unitedstates                  2
italy                         1
united stateds                1
uruguay                       1
remote (philippines)          1
united stated                 1
international                 1
united state                  1
danmark                       1
cuba                          1
puerto rico                   1
america                       1
uniyed states                 1
pakistan                      1
isa                           1
australian                    1
mexico                        1
colombia                      1
ss                            1
netherlands                   1
china                         1
san francisco                 1
romania                       1
ghana                         1
jamaica                       1
japan                         1
unites states                 1
thailand                      1
united stares                 1
burma                         1
Name: count, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [245]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [267]:
# Fix it.
df_us = df_salary_tech_usd[df_salary_tech_usd['country'] == 'US']
df_us['salary'] = df_us['salary'].replace(',', '', regex=True).astype(float)



salary_stats_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()
salary_stats_by_state = salary_stats_by_state.sort_values(by='mean', ascending=False)

print(salary_stats_by_state)

                          state       min           mean        max
35  Michigan, Texas, Washington  340000.0  340000.000000   340000.0
10           California, Oregon  200000.0  200000.000000   200000.0
8          California, Colorado  176000.0  176000.000000   176000.0
18       Georgia, Massachusetts  175000.0  175000.000000   175000.0
16                      Florida   28800.0  157457.232143  2600000.0
..                          ...       ...            ...        ...
32  Massachusetts, Pennsylvania   83000.0   83000.000000    83000.0
6                      Arkansas   55000.0   81682.300000   144000.0
9          California, Maryland   81500.0   81500.000000    81500.0
26                    Louisiana   35360.0   76596.000000   110000.0
2              Alabama, Montana   72000.0   72000.000000    72000.0

[66 rows x 4 columns]

/var/folders/qf/jr0rzgxx39j6pgvlp2j2z5jw0000gn/T/ipykernel_77757/4097033487.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['salary'] = df_us['salary'].replace(',', '', regex=True).astype(float)

Let’s try that again.

In [272]:
# Try it again. Yeah!


salary_stats_by_state = df_us.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()
salary_stats_by_state[['min', 'mean', 'max']] = salary_stats_by_state[['min', 'mean', 'max']].round(2)

salary_stats_by_state = salary_stats_by_state.sort_values(by='mean', ascending=False)

print(salary_stats_by_state)

                          state       min       mean        max
35  Michigan, Texas, Washington  340000.0  340000.00   340000.0
10           California, Oregon  200000.0  200000.00   200000.0
8          California, Colorado  176000.0  176000.00   176000.0
18       Georgia, Massachusetts  175000.0  175000.00   175000.0
16                      Florida   28800.0  157457.23  2600000.0
..                          ...       ...        ...        ...
32  Massachusetts, Pennsylvania   83000.0   83000.00    83000.0
6                      Arkansas   55000.0   81682.30   144000.0
9          California, Maryland   81500.0   81500.00    81500.0
26                    Louisiana   35360.0   76596.00   110000.0
2              Alabama, Montana   72000.0   72000.00    72000.0

[66 rows x 4 columns]

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [273]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_us['timestamp'] = pd.to_datetime(df_us['timestamp'])
df_us['year'] = df_us['timestamp'].dt.year
df_filtered = df_us[df_us['year'].isin([2021, 2022, 2023])]
salary_stats_filtered = df_filtered.groupby('state')['salary'].agg(['min', 'mean', 'max']).reset_index()
salary_stats_filtered[['min', 'mean', 'max']] = salary_stats_filtered[['min', 'mean', 'max']].round(2)
salary_stats_filtered = salary_stats_filtered.sort_values(by='mean', ascending=False)
print(salary_stats_filtered)

                            state       min      mean       max
35    Michigan, Texas, Washington  340000.0  340000.0  340000.0
10             California, Oregon  200000.0  200000.0  200000.0
8            California, Colorado  176000.0  176000.0  176000.0
18         Georgia, Massachusetts  175000.0  175000.0  175000.0
1   Alabama, District of Columbia  156000.0  156000.0  156000.0
..                            ...       ...       ...       ...
32    Massachusetts, Pennsylvania   83000.0   83000.0   83000.0
6                        Arkansas   55000.0   81682.3  144000.0
9            California, Maryland   81500.0   81500.0   81500.0
26                      Louisiana   35360.0   76596.0  110000.0
2                Alabama, Montana   72000.0   72000.0   72000.0

[66 rows x 4 columns]

/var/folders/qf/jr0rzgxx39j6pgvlp2j2z5jw0000gn/T/ipykernel_77757/3752681102.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['timestamp'] = pd.to_datetime(df_us['timestamp'])
/var/folders/qf/jr0rzgxx39j6pgvlp2j2z5jw0000gn/T/ipykernel_77757/3752681102.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_us['year'] = df_us['timestamp'].dt.year

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

In [ ]:
##Bonus

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)