# First print your name in the cell below then save this file. (or something nice about your instructor)

In [3]:
# In this cell print your name 
print("My name is Imrul")
print("Hussam is a good TA")

My name is Imrul
Hussam is a good TA

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [4]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [23]:
# Load data here
df=pd.read_csv("data/listings.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [25]:
df.info()
df.isna().count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46527 entries, 0 to 46526
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              46527 non-null  int64
 1   name                            46509 non-null  object
 2   host_id                         46527 non-null  int64
 3   host_name                       46492 non-null  object
 4   neighbourhood_group             46527 non-null  object
 5   neighbourhood                   46527 non-null  object
 6   latitude                        46527 non-null  float64
 7   longitude                       46527 non-null  float64
 8   room_type                       46527 non-null  object
 9   price                           46527 non-null  int64
 10  minimum_nights                  46527 non-null  int64
 11  number_of_reviews               46527 non-null  int64
 12  last_review                     35816 non-null  object
 13  reviews_per_month               35816 non-null  float64
 14  calculated_host_listings_count  46527 non-null  int64
 15  availability_365                46527 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.7+ MB

id                                46527
name                              46527
host_id                           46527
host_name                         46527
neighbourhood_group               46527
neighbourhood                     46527
latitude                          46527
longitude                         46527
room_type                         46527
price                             46527
minimum_nights                    46527
number_of_reviews                 46527
last_review                       46527
reviews_per_month                 46527
calculated_host_listings_count    46527
availability_365                  46527
dtype: int64

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [35]:
# 1. How many listings are there with a price less than 100? 

c1=(df["price"]<100).sum()
print("Number of room less than 100 is ", c1)

Number of room less than 100 is  22778

In [32]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk=df["neighbourhood_group"]=="Brooklyn"

df_bk=df[df_bk]
print(df_bk["neighbourhood_group"].value_counts())

neighbourhood_group
Brooklyn    18632
Name: count, dtype: int64

In [44]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
c3=df_bk["price"]<100
print("Listing in Brooklyn Less than $100 are ", c3.sum() )

Listing in Brooklyn Less than $100 are  10473

In [47]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
select_host= ["Michael", "David", "John","Daniel"]
c4= df.host_name.isin(select_host)
print(" Numbers of selected name's host", df[c4]['host_name'].value_counts())

print("total", df[c4]['host_name'].value_counts().sum())

 Numbers of selected name's host host_name
Michael    387
David      348
John       270
Daniel     253
Name: count, dtype: int64
total 1258

In [95]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

df['adjusted_price'] = df['price'].copy()
condition = df['neighbourhood'] == 'Williamsburg'
df.loc[condition, 'adjusted_price'] += 100
mean_price_before = df.loc[df['neighbourhood'] == 'Williamsburg', 'price'].mean()
mean_price_after = df.loc[df['neighbourhood'] == 'Williamsburg', 'adjusted_price'].mean()
print("Mean price in Williamsburg before adjustment:", mean_price_before)
print("Mean price in Williamsburg after adjustment:", mean_price_after)

Mean price in Williamsburg before adjustment: 132.44979919678715
Mean price in Williamsburg after adjustment: 232.44979919678715

In [7]:
# 6. What % of the rooms are private, and what % of the rooms are shared.

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [8]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups.

In [ ]:
# 2.5. Using `groupby`, find the mean price for each room_type.

In [13]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.

In [14]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.

In [15]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [16]:
# 1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
# 2. Do join that keeps all the records for each table.

In [ ]:
# 3. Save your joined csv as `joined.csv` into the data folder.

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.